.header {
    background-color: #FFE600;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo {
    height: 150px;
    margin-bottom: 10px;
}


.search-container {
    display: flex;
    align-items: center;
}

.search{
    display: flex;
    flex: 1;
}

.search-input {
    flex: 1;
    padding: 10px;
    border: none;
    font-size: 16px;
    height: 44px;
    outline: none;
}

.search-btn {
    background-color: #fff;
    border: none;
    cursor: pointer;
    font-size: 18px;
    padding: 10px 20px;
    transition: .5s;
    height: 34px;
    border-left: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 44px;
}